
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500&display=swap');
$main-color:#000;
$second-color: #FFF;
$font: 'Lemur-Web', sans-serif;
$font-two: 'Work Sans', sans-serif;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
// html, body {
//     height: 100%;
//     width: 100%;
// }
body {
    line-height: 1.5;
    font-family: $font-two;
    font-weight: 300;
    color: $second-color;
    background: $main-color;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
    font-weight: 500;
}
img {
    width: 100%;
    height: auto;
}
p {
    margin-bottom: 10px;
}
p:last-child {
    margin-bottom: 0;
}
.relative {
    position: relative;
}
.invert {
    background: $second-color;
    color: $main-color; 
}
.w7 {
    width: 7%;
}
.w10 {
    width: 10%;
}
.w12 {
    width: 12%;
}
.w14 {
    width: 14%;
}
.w25 {
    width: 25%;
}
.w40 {
    width: 40%;
}
.w50 {
    width: 50%;
}
.w60 {
    width: 60%;  
}
.w70 {
    width: 70%;  
}
.w80 {
    width: 80%;  
}
.w90 {
    width: 90%;  
}
.w100 {
    width: 100%;
}
.w105 {
    width: 105%;
}
.h100 {
    min-height: 100vh;
    height: 100%;
}
.w48 {
    width: 48%;
}
.mauto {
    margin: 0 auto;
}
.mt2 {
    margin-top: 2%;
}
.mt-2 {
    margin-top: -2%;
}
.mt5 {
    margin-top: 5%;
}
.mt10 {
    margin-top: 10%;
}
.mt20 {
    margin-top: 20%;
}
.tt-4 {
    -moz-transform: translateY(-4%); 
    -webkit-transform: translateY(-4%); 
    -o-transform: translateY(-4%); 
    -ms-transform: translateY(-4%); 
    transform: translateY(-4%); 
}
.tt-6 {
    -moz-transform: translateY(-6%); 
    -webkit-transform: translateY(-6%); 
    -o-transform: translateY(-6%); 
    -ms-transform: translateY(-6%); 
    transform: translateY(-6%); 
}
.mb5 {
    margin-bottom: 5%; 
}
.mb2 {
    margin-bottom: 2%; 
}
.mb8 {
    margin-bottom: 8%;
}
.mb10 {
    margin-bottom: 10%;
}
.ml1 {
    margin-left: 1%; 
}
.ml2 {
    margin-left: 2%; 
}
.ml5 {
    margin-left: 5%;
}
.mr1 {
    margin-right: 1%; 
}
.mr2 {
    margin-right: 2%; 
}
.mr5 {
    margin-right: 5%; 
}
.pt5 {
    padding-top: 5%; 
}
.p1 {
    padding: 1%;
}
.p2 {
    padding: 2%;  
}
.pt10 {
    padding-top: 10%;
}
.pb5 {
    padding-bottom: 5%;
}
.pb10 {
    padding-bottom: 10%;
}
.pl1 {
    padding-left: 1%; 
}
.pl5 {
    padding-left: 5%;
}
.pl10 {
    padding-left: 10%;
}
.pl20 {
    padding-left: 20%;
}
.pr2 {
    padding-right: 2%;
}
.pr3 {
    padding-right: 3%;
}
.pr5 {
    padding-right: 5%;
}
.pr1 {
    padding-right: 1%;
}
.pr10 {
    padding-right: 10%;
}
.bgb {
    background: $main-color;
}
.bgb:after {
    content: '';
    position: absolute;
    bottom: -4%;
    left: 0;
    width: 100%;
    background: $second-color;
    height: 8%;
    z-index: 5;
    display: block;
}
.z50 {
    z-index: 50;
}
.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.tu {
    text-transform: uppercase;
}
.inline {
    display: inline-block;
    vertical-align: top;
}
.dm {
    display: none;
}
.full-bg-m {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}
.full-bg-m-overlay {
    position: absolute;
    top: -1%;
    right: -25%;
    width: 60%;
}
h3 {
    font-size: 7vw;
    font-family: $font;
    line-height: 1.2;
}
h4 {
    font-size: 1.8vw;
    font-family: $font-two;
    font-weight: 500;
    line-height: 1.6;
}
.header {
    position: fixed;
    width: 15%;
    top: 5px;
    left: 50%;
    -moz-transform:translate(-50%, 0%); 
    -webkit-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    mix-blend-mode: difference;

    z-index: 9999;
}
.header svg path {
    mix-blend-mode: difference;
}
.underline {
    position: relative;
}
.underline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: $second-color;
    width: 100%;
    height: 0.5vw;
}
.layerd-img {
    position: absolute;
}
.layerd-img.at40 {
    top: 40%;
    -moz-transform:translateY(-50%); 
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
a {
	$underline--offset  : 3%;
	$underline--height  : 6%;
	color: $second-color;
	$uo: 100 - $underline--offset;
	$uh: $uo - $underline--height;
	background: linear-gradient(
        to bottom,
        transparent $uh,
        $second-color ($uh + 1),
            $second-color $uo,
            transparent ($uo + 1)
    );
	text-shadow:
		0.08em .05em $main-color, 0.08em -0.05em $main-color, -0.08em .05em $main-color, -0.08em -0.05em $main-color,
		0.08em .04em $main-color, 0.08em -0.04em $main-color, -0.08em .04em $main-color, -0.08em -0.04em $main-color,
		0.08em .03em $main-color, 0.08em -0.03em $main-color, -0.08em .03em $main-color, -0.08em -0.03em $main-color,
		0.08em .02em $main-color, 0.08em -0.02em $main-color, -0.08em .02em $main-color, -0.08em -0.02em $main-color,
		0.08em .01em $main-color, 0.08em -0.01em $main-color, -0.08em .01em $main-color, -0.08em -0.01em $main-color,
		0.08em 0 $main-color, -0.08em 0 $main-color;
    text-decoration: none;
    
    position: relative;
    text-decoration: none;
    color: $second-color;
}
.invert a {
	$underline--offset  : 3%;
	$underline--height  : 6%;
	color: $main-color;
	$uo: 100 - $underline--offset;
	$uh: $uo - $underline--height;
	background: linear-gradient(
        to bottom,
        transparent $uh,
        $main-color ($uh + 1),
            $main-color $uo,
            transparent ($uo + 1)
    );
	text-shadow:
		0.08em .05em $second-color, 0.08em -0.05em $second-color, -0.08em .05em $second-color, -0.08em -0.05em $second-color,
		0.08em .04em $second-color, 0.08em -0.04em $second-color, -0.08em .04em $second-color, -0.08em -0.04em $second-color,
		0.08em .03em $second-color, 0.08em -0.03em $second-color, -0.08em .03em $second-color, -0.08em -0.03em $second-color,
		0.08em .02em $second-color, 0.08em -0.02em $second-color, -0.08em .02em $second-color, -0.08em -0.02em $second-color,
		0.08em .01em $second-color, 0.08em -0.01em $second-color, -0.08em .01em $second-color, -0.08em -0.01em $second-color,
		0.08em 0 $second-color, -0.08em 0 $second-color;
    text-decoration: none;
    
    position: relative;
    text-decoration: none;
    color: $main-color;
}
.nolink a {
    text-shadow: none;
    background: none;
}
//CONTENT
.wrapper {
    background: $main-color;
    color: $second-color;
    min-height: 100vh;
    min-width: 100%;
    height: 100%;
    width: 100%;
}
.wrapper .content.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
}
//MOTO
#moto {
    font-size: 15vw;
    font-family: $font;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 500;
}

// STORES //
.wrapper .content.stores {
    -webkit-justify-content: space-between;
    -ms-flex-pack:  space-between;
    justify-content: space-between;
    margin-top: -15vh;
}
.store {
    width: 40%;
}
// SLOGAN //
#slogan {
    font-size: 9vw;
    font-family: $font;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
}
#slogan .content {
    background: none;
}
.slogan-text {
    z-index: 200;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-direction: column;
}
.slogan-img {
    opacity: 0;
}
#slogan-img-1 {
    position: absolute;
    // top: 50%;
    // -moz-transform: translateY(-50%);
    // -webkit-transform: translateY(-50%);
    // -o-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    // left: 0;

    // width: 80%;
    // height: 0;
    // padding-bottom: 53.5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // z-index: 10;
}
#slogan-img-2 {
    position: absolute;
    // top: 50%;
    // -moz-transform: translateY(-48%);
    // -webkit-transform: translateY(-48%);
    // -o-transform: translateY(-48%);
    // -ms-transform: translateY(-48%);
    // transform: translateY(-48%);
    // right: 5%;
    // width: 38%;
    // height: 0;
    // padding-bottom: 53.5%;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // z-index: 11;
}
#slogan-img-3 {
    position: absolute;
    // top: 50%;
    // -moz-transform: translateY(-20%);
    // -webkit-transform: translateY(-20%);
    // -o-transform: translateY(-20%);
    // -ms-transform: translateY(-20%);
    // transform: translateY(-20%);
    // left: 3%;
    // width: 48%;
    // height: 0;
    // padding-bottom: 53.5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // z-index: 12; 
}
.slogan-img img {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
//COFFEE
.coffee-header {
    position: relative;
    padding-top: 12%;
    padding-bottom: 8%;
    display: block;
    z-index: 50;
}
.coffe-deal {
    width: 25%;
    height: 0%;
    padding-bottom: 25%;
    background: url('../assets/star.svg');
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 22%;
    left: 2%;

    color: #000;
}
.coffe-deal .relative  {
    width: 100%;
    height: 0%;
    padding-bottom: 100%;  
    min-height: 100%;
}
.coffe-deal .content  {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%) rotate(-15deg);
    -webkit-transform: translate(-50%, -50%) rotate(-15deg);
    -o-transform: translate(-50%, -50%) rotate(-15deg);
    -ms-transform: translate(-50%, -50%) rotate(-15deg);
    transform: translate(-50%, -50%) rotate(-15deg);
    max-width: 60%;
    text-align: center;
    font-size: 1.8vw;
    line-height: 1.2;

}
.coffee-body .content.flex, .us .content.flex {
    -webkit-box-align: unset; 
     -webkit-align-items: unset;
    -ms-flex-align: unset;
    align-items: unset; 
}
.content-block {
    font-size: 1.6vw;
    line-height: 1.5;
    margin-bottom: 5%;
    max-width: 80%;
}
.decaf a {
    margin-right: 20%;
    position: relative;
}
.decaf a::after {
    content: '';
    position: absolute;
    bottom: -0.9vw;
    right: -23%;
    width: 3.4vw;
    height: 3.4vw;
    background: url('../assets/final_link.svg');
    background-position: top right;
    background-repeat: no-repeat;
}
.static-img {
    position: absolute;
    bottom: 3%;
    right: -4%;
    width: 20%;
}
.static-img img {
    display: block;
}
// FRIDGE //
.fridge .flex {
    flex-wrap: wrap;
}
.fridge .flex a {
    background: none;
    text-shadow: none;
}
.fridge .content {
    max-width: 1400px;
}
// lOCATIONS //
.wrapper .locations .content.flex {
    -webkit-box-align: unset; 
     -webkit-align-items: unset;
    -ms-flex-align: unset;
    align-items: unset; 

    -webkit-box-pack: unset;
    -webkit-justify-content: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    vertical-align: top;  
    text-align: left; 
}
.wrapper .locations .content {
    font-size: 1.6vw;
    overflow: hidden;
}
.wrapper .locations .content p {
    margin: 0;
}
.wrapper .locations .loc:hover + .loc-img {
    display: block;
    z-index: 20;
}
.wrapper .locations .loc-img {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    display: none;
}
.wrapper .locations .loc-img:nth-child(2){
    right: 0%;
}
// us //
.us {
    font-size: 1.6vw;
}
.us h4 {
    font-family: $font;
    font-size: 4.5vw;
    line-height: 1;
    margin-bottom: 2vw;
}
//SOCIAL 
#social {
    padding: 5vw;
    border: 3px solid #F7C9E7;
    position: relative;
    display: block;
}
#social h4 {
    font-family: $font;
    font-size: 4vw;
}
#social .icon {
    max-width: 20%;
    display: inline-block;
    margin: 0 2vw;
}

.footer .content.flex {
    color: $second-color;
    -webkit-box-align: flex-end;
     -webkit-align-items:flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
.footer-slogan {
    font-size: 4vw;
    font-family:  $font;
    line-height: 1.1;
}
.site-info-copy-link {
    position: relative;
    background: none;
    text-shadow: none;
}
.site-info-copy-link:hover span {
    background: url('../assets/loader.gif') no-repeat 50% 50%;
    background-size: contain;
    height: 50px;
    right: -3px;
    position: absolute;
    top: -50px;
    width: 100px;
  }
// FOOTER //
.fixed-footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    color: $second-color;
    display: flex;
    justify-content: space-between;

    font-size: 7vw;
    line-height: 1;
    font-family: $font;
    mix-blend-mode: difference;
    z-index: 100;
}
.fixed-footer a {
    background: none;
    text-shadow: none;
}
.fixed-footer .loc {
    text-align: left;
    padding-left: 1%;
}
.fixed-footer .loc:nth-child(even){
    text-align: right;
    padding-right: 1%;
}
@font-face { 
    font-family: 'Lemur-Web'; 
    src: url("fonts/Lemur-Medium.eot") format("opentype");
    src: url("fonts/Lemur-Medium.woff") format("woff"),
        url("fonts/Lemur-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@media only screen and (max-width: 720px) {
    body, .content-block {
        line-height: 1.5;
    }
    .header {
        width: 25%;
    }
    .wrapper .content.stores {
        min-height: auto;
    }
    .store:nth-child(even){
        margin-top: 20%;
    }
    .wrapper {
        overflow-x: hidden;
    }
    .dnm {
        display: none;
    }
    .dm {
        display: block;
    }
    h3 {
        font-size: 14vw;
    }
    h4 {
        font-size: 6vw;
    }
    #moto {
        font-size: 24vw;
    }
    #slogan {
        font-size: 11vw;
    }
    #slogan .content {
        min-height: 85vw;
        height: 85%;
    }
    #slogan-img-1 {
        position: relative;
        opacity: 1;
        transform: none;
        top: auto;
        left: auto;
        width: 100%;
        overflow: hidden;
        padding-bottom: 99.5%;
    }
    #slogan-img-1 img {
        position: absolute;
        top: 50%;
        left: 0%;
        -moz-transform: translate(-2%, -50%);
        -webkit-transform: translate(-2%, -50%);
        -o-transform: translate(-2%, -50%);
        -ms-transform: translate(-2%, -50%);
        transform: translate(-2%, -50%);
        width: 150%;
    }
    #slogan-img-2, #slogan-img-3 {
        display: none;
    }
    #slogan .underline:after {
        background: transparent;
    }
    .store {
        width: 50%;
    }
    .store:first-child img{
        width: 130%;
    }
    .store:last-child img{
        width: 140%;
    }
    .coffee-header {
        z-index: 60;
        padding-bottom: 12%;
    }
    .coffe-deal {
        width: 55%;
        padding-bottom: 55%;
        top: 75%;
        left: -9%;
    }
    .coffe-deal .content {
        font-size: 4vw;
    }
    .coffee-body .content.flex.crrm {
        flex-direction: column-reverse;
    }
    .content.flex.crm {
        flex-direction: column;
    }
    .coffee-body .content.flex .pl5 {
        padding-left: 7%;
    }
    .coffee-body .content.flex .pt10 {
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .coffee-body .content.flex .mr5, .coffee-body .content.flex .ml5 {
        margin-left: 0%;
        margin-right: 0%;
    }
    .coffee-img {
        padding-left: 20%;
        width: 80%;
        margin-top: -5%;
    }
    .coffee-text {
        width: 100%; 
        padding-left: 7%;
        padding-bottom: 10%;
    }
    .content-block, .wrapper .locations .content  {
        font-size: 4.5vw;
    }
    .coffee-body .content.flex {
        transform: none;
    }
    .coffee-body .content.flex .w50 {
        width: 100%;
    }
    .coffee-body .content.flex .w50.pl10 {
        padding-left: 7%;
    }
    .coffee-body .content.flex .w50.pr10 {
        padding-left: 7%;
        padding-right: 0;
    }
    .coffee-body .content .mr5,  .coffee-body .content .lr5{
        margin-right: 0;
        margin-left: 0;
    }
    .decaf a::after  {
        width: 6vw;
        height: 6vw;
        right: -50%;
    }
    .bgb:after {
        background: none;
    }
    .layerd-img {
        position: relative;
    }
    .layerd-img.at40 {
        top: auto;
        transform: none;
    }
    .layerd-img.w105 {
        width: 100%;
    }
    .fridge .w12 {
        width: 28%;
    }
    .wrapper .locations .content {
        font-size: 4.5vw;
    }
    .wrapper .locations .pl10 {
        padding-left: 7%;
    }
    .wrapper .locations .mb5 {
        margin-bottom: 10%;
        margin-top: 30%;
    }
    .wrapper .locations .content.flex {
        flex-direction: column;
    }
    .wrapper .locations .content.flex .loc.content.flex {
        flex-direction: row-reverse;
    }
    .wrapper .locations .content.flex .loc .w7 {
        width: 12%;
    }
    .wrapper .locations .content.flex .loc .pr5 {
        padding-right: 8%;
    }
    .wrapper .locations .content.flex .loc .w90 {
        width: 80%;
    }
    .wrapper .locations .time.content.flex  {
        flex-direction: row;
    }
    .wrapper .locations .time.content.flex .w25 {
        width: 50%;
    }
    .locations .w48 {
        width: 100%;
        margin: 0;
    }
    .wrapper .locations .loc:hover + .loc-img {
        display: block;
        z-index: 20;
    }
    .wrapper .locations .loc-img {
        position: relative;
        right: auto;
        top: auto;
        transform: translateY(0%);
        z-index: 0;
        display: block;
    }
    .wrapper .locations .loc-img img {
        display: block;
    }
    .wrapper .locations .loc-img:nth-child(2){
        right: auto;
    }
    .fridge .w80 {
        width: 90%;
    }
    .fridge.mt10 {
        margin-top: 30%;
    }
    .fridge.mb10 {
        margin-bottom: 30%;
    }
    .us {
        font-size: 4.5vw;
    }
    .us.mb10 {
        margin-bottom: 15%;
    }
    .us.mt5 {
        margin-top: 40%;
    }
    .us .w50 {
        width: 100%;
    }
    .us .w70, .us .w60  {
        width: 86%;
    }
    .us .pl20 {
        padding-left: 7%;
    }
    .us h4 {
        font-size: 13vw;
        text-align: center;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    #social {
        border: none;
    }
    #social h4 {
        font-size: 14vw;
    }
    #social .icon {
        margin: 0 4vw; 
    }
    .footer .content.flex {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .footer .child:nth-child(1) { order: 2; width: 90%; display: block; }
    .footer .child:nth-child(2) { order: 1; width: 40%; margin: 15% 30% 15% 30%; display: block;}
    .footer .child:nth-child(3) { order: 3; text-align: center; width: 80%; padding: 0 10%;}
    .footer .child:nth-child(3) .mr5 { margin: 0;}
  
    .footer-slogan {
        font-size: 13vw;
    }
    
    .footer.mb2 {
        margin-bottom: 10%;
    }
    .fixed-footer {
        font-size: 14vw;
    }   
    .site-info-copy-link:hover span {
        top: 100%;
    }
}

@media only screen and (orientation: landscape) and (max-width: 720px) and (max-height: 420px) {
    .header {
        width: 17%;
    }
    #social h4, h3 {
        font-size: 12vw;
    }
    h4 {
        font-size: 5vw;
    }
    #moto {
        font-size: 18vw;
    }
    #slogan {
        font-size: 9vw;
    }
    .wrapper .locations .content, .content-block, .us {
        font-size: 3vw;
    }
    .fixed-footer {
        font-size: 10vw;
    }
    .footer-slogan {
        font-size: 10vw;
        line-height: 1.3;
    }
    .footer .child:nth-child(2) {
        width: 26%;
        margin: 15% 37% 15% 37%;
    }
}