html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.6;
  font-family: "Work-Sans", sans-serif;
  font-weight: 300;
  color: #FFF;
  background: #000;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0;
}

.relative {
  position: relative;
}

.invert {
  background: #FFF;
  color: #000;
}

.w7 {
  width: 7%;
}

.w10 {
  width: 10%;
}

.w14 {
  width: 14%;
}

.w25 {
  width: 25%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.w105 {
  width: 105%;
}

.h100 {
  min-height: 100vh;
}

.w48 {
  width: 48%;
}

.mt2 {
  margin-top: 2%;
}

.mt-2 {
  margin-top: -2%;
}

.mt5 {
  margin-top: 5%;
}

.mt10 {
  margin-top: 10%;
}

.tt-4 {
  transform: translateY(-4%);
}

.tt-6 {
  transform: translateY(-6%);
}

.mb5 {
  margin-bottom: 5%;
}

.mb2 {
  margin-bottom: 2%;
}

.mb8 {
  margin-bottom: 8%;
}

.mb10 {
  margin-bottom: 10%;
}

.ml2 {
  margin-left: 2%;
}

.ml5 {
  margin-left: 5%;
}

.mr2 {
  margin-right: 2%;
}

.mr5 {
  margin-right: 5%;
}

.pt5 {
  padding-top: 5%;
}

.p1 {
  padding: 1%;
}

.pt10 {
  padding-top: 10%;
}

.pb5 {
  padding-bottom: 5%;
}

.pb10 {
  padding-bottom: 10%;
}

.pl1 {
  padding-left: 1%;
}

.pl5 {
  padding-left: 5%;
}

.pl10 {
  padding-left: 10%;
}

.pl20 {
  padding-left: 20%;
}

.pr2 {
  padding-right: 2%;
}

.pr3 {
  padding-right: 3%;
}

.pr10 {
  padding-right: 10%;
}

.bgb {
  background: #000;
}

.bgb:after {
  content: "";
  position: absolute;
  bottom: -4%;
  left: 0;
  width: 100%;
  background: #FFF;
  height: 8%;
  z-index: 5;
  display: block;
}

.z50 {
  z-index: 50;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tu {
  text-transform: uppercase;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

h3 {
  font-size: 7vw;
  font-family: "Lemur-Web", sans-serif;
  line-height: 1.2;
}

h4 {
  font-size: 1.8vw;
  font-family: "Work-Sans", sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

.header {
  position: fixed;
  width: 15%;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 500;
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFF;
  width: 100%;
  height: 0.5vw;
}

.layerd-img {
  position: absolute;
}

.layerd-img.at40 {
  top: 40%;
  transform: translateY(-50%);
}

a {
  color: #FFF;
  background: linear-gradient(to bottom, transparent 91%, #FFF 92%, #FFF 97%, transparent 98%);
  text-shadow: 0.08em 0.05em #000, 0.08em -0.05em #000, -0.08em 0.05em #000, -0.08em -0.05em #000, 0.08em 0.04em #000, 0.08em -0.04em #000, -0.08em 0.04em #000, -0.08em -0.04em #000, 0.08em 0.03em #000, 0.08em -0.03em #000, -0.08em 0.03em #000, -0.08em -0.03em #000, 0.08em 0.02em #000, 0.08em -0.02em #000, -0.08em 0.02em #000, -0.08em -0.02em #000, 0.08em 0.01em #000, 0.08em -0.01em #000, -0.08em 0.01em #000, -0.08em -0.01em #000, 0.08em 0 #000, -0.08em 0 #000;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: #FFF;
}

.invert a {
  color: #000;
  background: linear-gradient(to bottom, transparent 91%, #000 92%, #000 97%, transparent 98%);
  text-shadow: 0.08em 0.05em #FFF, 0.08em -0.05em #FFF, -0.08em 0.05em #FFF, -0.08em -0.05em #FFF, 0.08em 0.04em #FFF, 0.08em -0.04em #FFF, -0.08em 0.04em #FFF, -0.08em -0.04em #FFF, 0.08em 0.03em #FFF, 0.08em -0.03em #FFF, -0.08em 0.03em #FFF, -0.08em -0.03em #FFF, 0.08em 0.02em #FFF, 0.08em -0.02em #FFF, -0.08em 0.02em #FFF, -0.08em -0.02em #FFF, 0.08em 0.01em #FFF, 0.08em -0.01em #FFF, -0.08em 0.01em #FFF, -0.08em -0.01em #FFF, 0.08em 0 #FFF, -0.08em 0 #FFF;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: #000;
}

.wrapper {
  background: #000;
  color: #FFF;
  min-height: 100vh;
  min-width: 100%;
}

.wrapper .content.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

#moto {
  font-size: 18vw;
  font-family: "Lemur-Web", sans-serif;
  cursor: pointer;
  position: relative;
  display: block;
  z-index: 500;
}

.wrapper .content.stores {
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  margin-top: -15vh;
}

.store {
  width: 40%;
}

#slogan {
  font-size: 8vw;
  font-family: "Lemur-Web", sans-serif;
  line-height: 1.2;
  position: relative;
  cursor: pointer;
}

#slogan .content {
  background: none;
}

.slogan-text {
  z-index: 200;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  flex-direction: column;
}

.slogan-img {
  opacity: 0;
}

#slogan-img-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 80%;
  height: 0;
  padding-bottom: 53.5%;
  z-index: 10;
}

#slogan-img-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-48%);
  right: 5%;
  width: 38%;
  height: 0;
  padding-bottom: 53.5%;
  z-index: 11;
}

#slogan-img-3 {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  left: 3%;
  width: 48%;
  height: 0;
  padding-bottom: 53.5%;
  z-index: 12;
}

.coffee-header {
  position: relative;
  padding-top: 12%;
  padding-bottom: 8%;
  display: block;
  z-index: 50;
}

.coffe-deal {
  width: 25%;
  height: 0%;
  padding-bottom: 25%;
  background: url("../assets/star.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15%;
  left: 2%;
  color: #000;
}

.coffe-deal .relative {
  width: 100%;
  height: 0%;
  padding-bottom: 100%;
  min-height: 100%;
}

.coffe-deal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  max-width: 60%;
  text-align: center;
  font-size: 1.8vw;
  line-height: 1.2;
}

.coffee-body .content.flex, .us .content.flex {
  -webkit-box-align: unset;
  -webkit-align-items: unset;
  -ms-flex-align: unset;
  align-items: unset;
}

.content-block {
  font-size: 1.6vw;
  line-height: 1.5;
  margin-bottom: 5%;
  max-width: 70%;
}

.fridge .flex {
  flex-wrap: wrap;
}

.wrapper .locations .content.flex {
  -webkit-box-align: unset;
  -webkit-align-items: unset;
  -ms-flex-align: unset;
  align-items: unset;
  -webkit-box-pack: unset;
  -webkit-justify-content: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  vertical-align: top;
}

.wrapper .locations .content {
  font-size: 1.4vw;
}

.wrapper .locations .content p {
  margin: 0;
}

.wrapper .locations .content a {
  background: none;
  text-shadow: none;
}

.us h4 {
  font-family: "Lemur-Web", sans-serif;
  font-size: 4.5vw;
  line-height: 1;
  margin-bottom: 2vw;
}

#social {
  padding: 5vw;
  border: 3px solid #F7C9E7;
  position: relative;
  display: block;
}

#social h4 {
  font-family: "Lemur-Web", sans-serif;
  font-size: 4vw;
}

#social .icon {
  max-width: 20%;
  display: inline-block;
  margin: 0 2vw;
}

.footer .content.flex {
  color: #FFF;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.footer-slogan {
  font-size: 4vw;
  font-family: "Lemur-Web", sans-serif;
  line-height: 1.5;
}

.fixed-footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  font-size: 7vw;
  line-height: 1;
  font-family: "Lemur-Web", sans-serif;
  mix-blend-mode: difference;
  z-index: 100;
}

.fixed-footer .loc {
  text-align: left;
  padding-left: 1%;
}

.fixed-footer .loc:nth-child(even) {
  text-align: right;
  padding-right: 1%;
}

@font-face {
  font-family: "Lemur-Web";
  src: url("fonts/Lemur-Medium.eot") format("opentype");
  src: url("fonts/Lemur-Medium.woff") format("woff"), url("fonts/Lemur-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 670px) {
  .wrapper .content.stores {
    min-height: auto;
  }

  .store:nth-child(even) {
    margin-top: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
